@model Category
@{
    ViewData["Title"] = "Category | Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Do You Wnat To Delete This Data Permenantly !!</h5>
            <a  asp-controller="Category" asp-action="ViewCategory" class="btn btn-info my-2">No</a>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">

                            <input hidden disabled asp-for="ID" />

                            <label asp-for="Name" class="form-label">Category Name</label>
                            <input disabled asp-for="Name" type="text" class="form-control" />
                           

                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" for="exampleInputEmail1" class="form-label">Category Description</label>
                            <input disabled asp-for="Description" type="text" class="form-control">
                            

                        </div>


                        <button  type="submit" class="btn btn-danger">Yes ! Delete Category</button>
                        

                    </form>
                  
                    
                </div>
            </div>

        </div>
    </div>
</div>

